/* Quando queremos que um evento aconteça a partir do clique do mouse, utilizamos os botões APAGAR */
/* Margins criam um espaçamento ao redor do elemento. Paddings criam um espaçamento dentro do elemento. É possível configurar valores de margins diferentes para cada lado. */
/* Além do github da pra usar o Vercel para publicar */
/* CLICAR . no teclado para abrir a tela do vscode, fazer alteração, dar CRTL+S para salvar, escrever qual é a mudança e clicar no check para enviar */
/* Github não executa codigo apenas deploy da aplicação através do Github Pages */

:root { /* Serve para pegar o código da cor no projeto(FIGMA) e criar o nome da variavel, assim não precisa digitar o código, pode ser qualquer coisa */
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: #41b860;
}

body {
    background-color: var(--cor-de-fundo); /* cor de fundo */
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
}

* { /* variavel * também pega todos os elementos do HTML, não como o ROOT */
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png"); /* quando não for muito importante colocar a imagem no css */
    background-repeat: no-repeat; /* não repetir a imagem */
    background-size: contain; /* espaçamento da esquerda */
    align-items: center;
    text-align: center; /* alinhar tudo do bloco */
}

.container {
    height: 100vh; /* altura da tela no dispositivo, por isso o no-repeat */
    display: grid; /* pega a grid(pixel) toda */
    grid-template-columns: 50% 50%; /* total de grid do display (bloco) */   
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--cinza-secundario);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario_imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex; /* flex container */
    justify-content: center;
    list-style-type: none; /* tirar o asteristico da lista */
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 42px;
    color: var(--branco-principal)
}

.lista__item {
    font-size: 28px;
    color: var(--branco-principal);
}




/* footer */

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao :hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}
